@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-light: #ffffff;
  --bg-dark: #171717;
  --text-dark: black;



  --font-eudoxus-sans: 'Eudoxus Sans', sans-serif;
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-eudoxus-sans);
}
